<div class="searchcont">
    <input type="text" id="bigsearch">
    <button class="bigsearch" onclick="document.getElementById('search').value = document.getElementById('bigsearch').value; changePage('search')">Search</button>
    <p class="advice">Search for an article or topic in English</p>
</div>
<div class="mained">
    <div class="desc">
        <h1>Welcome</h1>
        <p>
            Welcome to the unofficial archive for every chemistry note required on the leaving cert course ever.</br>
            The aim of the site is to provide people with free, easy-to-use access to notes, explanations and demonstrations to do with preparing for the leaving cert Chemistry exam.</br>
            <a onclick="changePage('articles')">Get the full list of articles</a>
        </p>
    </div>
    <div class="desc">
        <h2>Topics</h2>
        <div id="topics">
        </div>
    </div>
    <div class="desc">
        <h2>Feedback</h2>
        <p>
            Any Feedback is welcome. It is recommended to create an issue through the <a href="https://github.com/flippont/notai">Github Repo</a>
        </p>
    </div>
</div>
